@font-face {
    font-family: "ArcherBook";
    src: url("/fonts/Archer-Book.ttf") format("truetype");
}

@font-face {
    font-family: "ArcherBold";
    src: url("/fonts/Archer-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "ProximaNova";
    src: url("/fonts/Proxima Nova Regular.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("/fonts/Proxima Nova Bold.otf") format("opentype");
}

$headingFont: "ArcherBold";
$alternativeHeadingFont: "ArcherBook";
$mainFont: "ProximaNova";
$mainFontBold: "ProximaNovaBold";

h1, .h1
{
    font-family: $headingFont;
    font-size: 34px;
    color:#000000;
}

h2, .h2
{
    font-family: $headingFont;
    font-size: 22px;
    color:#000000;
}

h3, .h3
{
    font-family: $alternativeHeadingFont;
    font-size: 18px;
    font-weight: normal;
    color:#000000;
}

h4, .h4
{
    font-family: $mainFont;
    font-size: 19px;
    font-weight: normal;
    color:#000000;
    letter-spacing: 0.05rem;
       
}
h5, .h5
{
    font-family: $mainFontBold;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}
h6, .h6, th, .th
{
    font-family: $mainFontBold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}
table span, ul span{
    font-family: $mainFont;
    font-size: 13px;
    letter-spacing: 0.05rem;
}
html
{
    font-family: $mainFont;
    font-size: 15px;
    color:#636363;
    letter-spacing: 0.05rem;
}