$orange: #F17E00;
$black: #2B3033;
$gray: #E9E9E9;
$light-gray: #F6F6F6;
$white: #FFFFFF;

$blue: #1E9CCA;
$green: #91C54D;
$red: #F92E26;

$additionalColor1: #D02561;
$additionalColor2: #EC45A7;
$additionalColor3: #633B93;
$additionalColor4: #2269B2;
$additionalColor5: #24BA87;
$additionalColor6: #45A125;
$additionalColor7: #F8D721;
$additionalColor8: #F65720;


$primaryColors: "orange", "black", "gray", "light-gray", "white";

$complementaryColors: "blue", "green", "red";

$additionalColors: $additionalColor1, $additionalColor2, $additionalColor3, $additionalColor4, $additionalColor5, $additionalColor6, $additionalColor7,$additionalColor8;

