@import "style/movestic/main";
@import "app/navigation/navigation";
@import "app/styleguide/colorAndImages/colorAndImages";
@import "app/styleguide/typography/typography";

main
{
    margin-left: 300px;
    padding: 30px 40px;
    max-width: 1000px;
}
$sectionBorder: 2px solid $gray;
.section
{
    & > * {
        border-bottom: $sectionBorder;
        padding: 30px;
    }

    &.no-border
    {
        & > * {
            border-bottom: 0;
        }
    }
}