@import "style/movestic/main";

$largeColorBoxSize: 100px;
$smallColorBoxSize: 75px;
$xsmallColorBoxSize: 50px;
$hexTextHeigh: 20px;

@mixin color-box($color) {
    background-color: $color;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: $hexTextHeigh;

    position: relative;

    $boxSize: 0px;

    &.large {
        width: $largeColorBoxSize;
        height: $largeColorBoxSize;
    }

    &.small {

        width: $smallColorBoxSize;
        height: $smallColorBoxSize;
    }

    &.x-small {

        width: $xsmallColorBoxSize;
        height: $xsmallColorBoxSize;
    }

    @if(lightness($color) > 90)
    {
        $borderWidth: 1px;
        border: $borderWidth solid $black;
        $boxSize: $boxSize - ($borderWidth*2);
    }


    &::after {
        content: "" + $color;
        position: absolute;
        bottom: -1 * $hexTextHeigh;
        font-size: 1em;
    }
}

.color-box
{
    &.orange {
        @include color-box($orange);
    }

    &.black {
        @include color-box($black);
    }

    &.gray {
        @include color-box($gray);
    }

    &.light-gray {
        @include color-box($light-gray);
    }

    &.white {
        @include color-box($white);
    }

    &.blue {
        @include color-box($blue);
    }

    &.green {
        @include color-box($green);
    }

    &.red {
        @include color-box($red);
    }

    @for $i from 1 through 8 {
        &.additionalColor#{$i} {
            @include color-box(nth($additionalColors, $i));
        }
    }
}

.warning
{
    color: $red;

    &::before{
        content: "*";
    }
}